<launch>
  <node name="orb_slam2_zedm_left" pkg="orb_slam2_ros"
      type="orb_slam2_ros_mono" args="
          $(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt
          $(find orb_slam2_ros)/orb_slam2/config/Zedm_mono_left.yaml"
      output="screen">
       <remap from="/left/image_rect_color" to="/cam_front/left/image_rect_color" />

       <param name="publish_pointcloud" type="bool" value="true" />
       <param name="pointcloud_frame_id" type="string" value="map" />
       <param name="camera_frame_id" type="string" value="camera_link" />
  </node>
</launch>
